<section class="block-3" id="block-3">
   <div class="mbox">
        <div class="title" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-once="true">
            <h2>New products</h2>
        </div>
        <div class="products" data-aos="zoom-in-up" data-aos-duration="1500" data-aos-once="true">
            <div class="item">
                <a href="#">
                    <div class="item-imgs">
                        <img src="images/frame-1.png" alt="">
                        <img src="images/frame-1-hover.png" alt="">
                        <img src="images/frame-1-img.png" alt="">
                    </div>
                    <div class="item-text">
                        <div class="row1">
                            <span>VANILLA OATMEAL</span>
                            <span>25</span>
                        </div>
                        <div class="row2">
                            <span>Organic Cream</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="item-imgs">
                        <img src="images/frame-2.png" alt="">
                        <img src="images/frame-2-hover.png" alt="">
                        <img src="images/frame-2-img.png" alt="">
                    </div>
                    <div class="item-text">
                        <div class="row1">
                            <span>VANILLA OATMEAL</span>
                            <span>25</span>
                        </div>
                        <div class="row2">
                            <span>Organic Cream</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <div class="item-imgs">
                        <img src="images/frame-1.png" alt="">
                        <img src="images/frame-1-hover.png" alt="">
                        <img src="images/frame-3-img.png" alt="">
                    </div>
                    <div class="item-text">
                        <div class="row1">
                            <span>VANILLA OATMEAL</span>
                            <span>25</span>
                        </div>
                        <div class="row2">
                            <span>Organic Cream</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="bottom-row" data-aos="flip-left" data-aos-duration="1500" data-aos-once="true">
            <a href="#">Read more</a>
        </div>
    </div>
</section>