<section class="block-5" id="block-5">

    <div class="mbox">

        <div class="blog">

            <div class="title" data-aos="zoom-in" data-aos-once="true">
                <h2>Blog</h2>
            </div>

            <div class="blog-wrap">

                <div class="blog-row">
                    <div class="blog-item" data-aos="fade-up" data-aos-once="true">
                        <div class="blog-item-wrap">
                            <div class="img">
                                <img src="images/blog-item-1.jpg" alt="" />
                            </div>

                            <div class="content">

                                <div class="top-info">
                                    <div class="text">makeup</div>
                                    <div class="date">25.04</div>
                                </div>

                                <div class="blog-title">Important: A Pumpkin Spice Latte Highlighter Exists</div>
                                <div class="text-main">If you love PSLs so much that you kinda...</div>
                                <div class="link">
                                    <a href="#">read more</a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="blog-item" data-aos="fade-up" data-aos-once="true">
                        <div class="blog-item-wrap">
                            <div class="img">
                                <img src="images/blog-item-2.jpg" alt="" />
                            </div>

                            <div class="content">

                                <div class="top-info">
                                    <div class="text">makeup</div>
                                    <div class="date">25.04</div>
                                </div>

                                <div class="blog-title">Important: A Pumpkin Spice Latte Highlighter Exists</div>
                                <div class="text-main">If you love PSLs so much that you kinda...If you love PSLs so much that you kinda...If you love PSLs so much that you kinda...</div>
                                <div class="link">
                                    <a href="#">read more</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-row">
                    <div class="blog-item" data-aos="fade-up" data-aos-once="true">
                        <div class="blog-item-wrap">
                            <div class="img">
                                <img src="images/blog-item-3.jpg" alt="" />
                            </div>

                            <div class="content">

                                <div class="top-info">
                                    <div class="text">makeup</div>
                                    <div class="date">25.04</div>
                                </div>

                                <div class="blog-title">Important: A Pumpkin Spice Latte Highlighter Exists</div>
                                <div class="text-main">If you love PSLs so much that you kinda...</div>
                                <div class="link">
                                    <a href="#">read more</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>