<section class="block-1">
	<div class="slider-wrapper" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
		<div class="slide">
			<div class="logo">
				<img src="images/main-logo.png">
			</div>
			<div class="title">
				<h1>The Organic Face </h1>
				<p>Natural organic cosmetics </p>
			</div>
		</div>
		<div class="slide">
			<div class="logo">
				<img src="images/main-logo.png">
			</div>
			<div class="title">
				<h1>The Organic Face </h1>
				<p>Natural organic cosmetics </p>
			</div>
		</div>
		<div class="slide">
			<div class="logo">
				<img src="images/main-logo.png">
			</div>
			<div class="title">
				<h1>The Organic Face </h1>
				<p>Natural organic cosmetics </p>
			</div>
		</div>
		<div class="slide">
			<div class="logo">
				<img src="images/main-logo.png">
			</div>
			<div class="title">
				<h1>The Organic Face </h1>
				<p>Natural organic cosmetics </p>
			</div>
		</div>
	</div>
</section>