<section class="about-us" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
  <div class="mbox">
    <div class="about-us-tittle">
      <h2>About us</h2>
      <img class="logo" src="images/about-us.png" alt="Logo">
    </div>
    <p>ADAVI Beauty is gift to all women who need a source for skincare and makeup that will be gentle and reliable. We've chosen to sell products with ingredients free of the most common skin irritants. Our products are free of parabens, SLS (sodium lauryl sulfate), phthlates, herbicide and pesticide residues, genetically modified ingredients, petroleum, and mineral oil to name a few. Our all natural, all organic, made in the U.S.A. products will make every day a spa day for your skin.</p>
    <div class="flowers">
      <img src="images/flowers.png" alt="Flowers">
    </div>
  </div>
</section>