<section class="block-4" id="block-4">

    <div class="mbox">
        <div class="form-main" data-aos="zoom-out-up" data-aos-duration="1500" data-aos-once="true">

            <div class="form-wrap">
                <div class="form-subscribe-wrap">

                    <div class="form-title">
                        <h3>Subscribe<br /> to our newsletter</h3>
                        <p>Natural organic cosmetics</p>
                    </div>

                    <div class="form-inside">
                        <form class="subscribe">
                            <div class="form-row">
                                <div class="form-col">
                                    <div class="form-input">
                                        <input type="text" name="user[name]" placeholder="Enter your Name" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-col">
                                    <div class="form-input">
                                        <input type="email" name="user[email]" placeholder="Enter your e-mail" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row submit-row">
                                <button class="button button-tomato" type="submit">
                                    <span>Subscribe</span>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>