<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
  <div class="mbox">
    <a class="up-scroll" data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-duration="1500" data-aos-once="true" href="#"></a>
    <nav class="footer-nav" data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">blog</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Products</a>
        </li>
      </ul>
    </nav>
    <div class="footer-bottom">
      <a class="logo" href="index.html">
        <img src="images/logo2.png" alt="Logo">
      </a>
      <div class="copyright">
        <span>©2016 <a href="http://www.adavibeauty.com/">AdaviBeauty.com</a> All Rights Reserved</span>
    </div>
    <div class="social">
      <ul>
        <li class="instagram-wrap">
          <span class="instagram"></span>
          <a class="instagram-hover" href="#"></a>
        </li>
        <li class="facebook-wrap">
          <span class="facebook"></span>
          <a class="facebook-hover" href="#"></a>
        </li>
        <li>
          <span class="youtube"></span>
          <a class="youtube-hover" href="#"></a>
        </li>
        <li>
          <span class="google"></span>
          <a class="google-hover" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/aos.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/script.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
