<!-- HEADER -->
<header class="header">
    <div class="mbox">
        <div class="header-wrap" data-aos="flip-up" data-aos-duration="1500" data-aos-once="true">

            <div class="logo">
                <img src="images/logo.png" alt="" />
            </div>

            <div class="right">

                <nav class="header-nav">

                    <div class="sendwich">
                        <span></span>
                    </div>

                    <ul class="nav-wrap">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">blog</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Products</a>
                        </li>
                    </ul>
                </nav>

                <div class="busked-search-wrap">

                    <div class="search">

                        <form class="search-form">
                            <div class="form-row">
                                <div class="form-col">
                                    <input type="text" name="user[search]" required="required" />
                                </div>
                                <div class="form-col submit-col">
                                    <button type="submit">
                                        <img src="images/loop.png" alt="" />
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class="search-button">
                            <img src="images/loop.png" alt="" />
                        </div>
                    </div>

                    <div class="busked">
                        <a href="#" class="has-items">
                            <div class="busked-icon">
                                <img src="images/busked.png" alt="" />
                            </div>
                            <div class="count">
                                <span>2</span>
                            </div>
                        </a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</header>
<!-- /HEADER -->

